body.dark{
  background-image: url('https://thumbs.dreamstime.com/b/casino-chips-concept-glowing-neon-blue-lights-black-background-casino-chips-concept-glowing-neon-blue-lights-143231812.jpg');
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body.light{
  background:linear-gradient(rgb(97, 97, 198),purple);
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.game-body{
  height:25rem;
  width:30rem;
  background: radial-gradient( navy, rgb(22, 123, 255));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 3px silver solid;
}
.button-container{
  background-color: navy;
  width: 30rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: gold 2px solid;
}
.display-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 29rem;
}
.display-box-1, .display-box-2 , .display-box-3{
  height:10rem;
  width:8rem;
  border-radius: 10px;
  border: 3px silver solid;
  background: radial-gradient(white, rgb(97, 97, 97));
  text-align: center;
  padding-top: 45px;
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
}
.message-div{
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: gold;
  background-color: navy;
  width: 30rem;
  height: 3rem;;
  /* margin-top: -1rem; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  border: 3px silver solid;
  border-bottom: gold 2px solid
}
.button-container > button {
  width: 6rem;
  height: 3rem;
  border: solid rgb(22, 123, 255) 2px;
  border-radius: 15px;
  background-color: silver;
  font-family: 'Lobster', cursive;
  font-size: 18px;
}
.button-container > button:hover{
  width: 8rem;
  height: 4rem;
  margin-top: -5px;
  border: solid silver 4px;
  background-color: gold;
  font-size: 22px;
  transition: .3s;
}
.display-box-1:hover, .display-box-2:hover , .display-box-3:hover{
  background: rgb(0, 0, 255);
  border: solid gold 3px;
  transition: .25s;
  color:gold;
  opacity: 9;
}


.message{
  border-radius: 10px;
  font-size:50px;
  background: radial-gradient(white, rgb(97, 97, 97));
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}
.gameBody{
  background: radial-gradient(rgb(222, 128, 230), rgb(159, 101, 147));
}