body{
  background-color: rgb(255, 126, 126);
  display: flex;
  justify-content: center;
  align-items: center;
}
.first{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150vh;
  min-height: 60vh;
  border-radius: 50px;
}
.item1 , .item2, .item3{
  min-height: 35vh;
  min-width: 35vh;
  border-radius: 15px;
}
.item1{
  background-color: blue;
  margin-left: 5vh;
}
.item2{
  background-color: red;
  text-align: middle;
}
.item3{
  background-color: yellow;
}
.silder{
  min-height:60vh;
  min-width: 5vh;
  background-color: white;
  margin-right: 10vh;
  border-end-end-radius: 30px;
  border-top-right-radius: 30px;
}


