html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
   but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}


body {
  background-color: grey;
  display: grid;
  grid-template-columns: 10% 40% 40%;
  grid-template-rows: auto 1fr auto;
  gap: 5px;  /* specifies width of the grid's lines */
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
    justify-content: center;  
}
.first{
  background-color: white;
  display: grid;
  grid-template-columns: 10% 40% 40%;
  grid-template-rows: auto 1fr auto;
  gap: 70px;  
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header "
    "wow  main  sidebar"
    "footer footer footer ";
}
.item1{
  grid-area: wow;
  display: flex;
  justify-content: center;
  background-color: red;
  margin-top: center;
  margin-left: center;
}
.item2{
  grid-area: main;
  display: flex;
  justify-content: center;
  background-color: red;
  margin-top: center;
  margin-left: center;
}
.item3{
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  background-color: red;
  margin-top: center;
  margin-left: center;

}
.play_Button{
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: red;
  margin-top: center;
  margin-left: center;
}
.messages{
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: red;
  margin-top: center;
  margin-left: center;
}

