body{
  background-color: rgb(255, 126, 126);
  display: flex;
  justify-content: center;
  align-items: center;
}
.first{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150vh;
  min-height: 60vh;
  border-radius: 50px;
}
.item1 , .item2, .item3{
  display: flex;
  min-height: 16vh;
  min-width: 15vh;
  border-radius: 15px;
  align-items: baseline;
  font-size: 200px ;
}
.item1{

  margin-left: 5vh;
  text-align: center;
}
.item2{

  text-align: center;
}
.item3{

  text-align: center;
}
.silder{
  min-height:60vh;
  min-width: 5vh;
  background-color: white;
  margin-right: 10vh;
  border-end-end-radius: 30px;
  border-top-right-radius: 30px;
}


